@using WebUI.Models
@using WebUI.HtmlHelpers
@model ClotheListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Clothes)
{
    @Html.Partial("ClothesSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, category = Model.CurrentCategory }))
</div>